<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Vocabulary+</a>
    <ul *ngIf="authService.token != undefined" id="nav-mobile" class="col s12">
      <li class="hide-on-large-only left">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons small">menu</i>
        </a>
        <ul id="slide-out" class="side-nav">
          <side-menu></side-menu>
        </ul>
      </li>
      <li class="right">
        <ul>
          <li>
            <a [routerLink]="['/learning']" (click)="copyAllCardsToCardToLearn()">Learn ({{cardService.allCardsToLearn.length}})</a>
          </li>
          <li>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <a mat-menu-item [routerLink]="['/settings']">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
              </a>
              <a mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Log out</span>
              </a>
            </mat-menu>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
