<ul class="collection" *ngIf="translations.length > 0 && wordName != ''">
  <li class="collection-item" *ngFor="let translation of translations">
    <input type="checkbox" id="{{translation.text}}" (change)="addSelectedTranslation(translation)"/>
    <label for="{{translation.text}}">{{translation.text}}</label>
  </li>
</ul>
