<form #generalSerringsForm="ngForm" (keyup.enter)="saveGeneral()">
  <div class="row">
    <div class="col s12 input-field">
      <input id="username" type="text" maxlength="30" [(ngModel)]="username" value="username"
             name="username"
             [ngClass]="{'invalid': usernameError.length > 0}"
             (ngModelChange)="checkUsername()"
             [disabled]="true"
             required>
      <label for="username" class="active">Username</label>
      <div [hidden]="usernameError != ''" class="input-error-message">
        {{usernameError}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <input id="email" type="email" [(ngModel)]="email" value="email"
             name="email"
             [ngClass]="{'invalid': emailError.length > 0}"
             (ngModelChange)="checkEmail()"
             required>
      <label for="email" class="active">Email</label>
      <div [hidden]="emailError != ''" class="input-error-message">
        {{emailError}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <label for="birthday">Birthday</label>
      <input id="birthday" type="text" name="birthday" [(ngModel)]="birthday" class="datepicker"
             materialize="pickadate">
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <!--<select id="mother-tongue"-->
              <!--name="mother-tongue"-->
              <!--[(ngModel)]="selectedLanguage"-->
              <!--[materializeSelectOptions]="languages"-->
              <!--materialize="material_select"-->
              <!--class="col s12">-->
        <!--<option *ngFor="let language of languages" [ngValue]="language" [selected]="language.id == selectedLanguage.id">{{language.name}}</option>-->
      <!--</select>-->
      <!--<label for="mother-tongue">Mother tongue</label>-->
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <!--<select id="sex"-->
              <!--name="sex"-->
              <!--[(ngModel)]="sex"-->
              <!--[materializeSelectOptions]="sexList"-->
              <!--materialize="material_select"-->
              <!--class="col s12">-->
        <!--<option *ngFor="let currentSex of sexList" [ngValue]="currentSex.value">{{currentSex.viewValue}}</option>-->
      <!--</select>-->
      <!--<label for="sex">Sex</label>-->
    </div>
  </div>
  <div class="center row">
    <div class="col s12">
      <a class="waves-effect waves-ripple btn"
         [ngClass]="{'disabled': usernameError.length > 0 || emailError.length > 0}"
         (click)="saveGeneral()">Save</a>
    </div>
  </div>
</form>
