<div class="row">
  <div class="col s12">
    <form #authForm="ngForm" (keyup.enter)="login()">
      <span class="card-title">Sign in<i class="material-icons right close-button" (click)="close()">close</i></span>
      <div class="input-field">
        <input id="auth-username" maxlength="30" type="text" [(ngModel)]="username" name="auth-username" required>
        <label for="auth-username" data-error="This user already exists">Username</label>
      </div>
      <div [hidden]="error != ''" class="input-error-message">
        {{error}}
      </div>
      <div class="input-field">
        <input id="auth-password" type="password" [(ngModel)]="password" name="auth-password" required>
        <label for="auth-password" data-error="Password must have minimum 8 and maximum 128 characters">Password</label>
      </div>
      <div class="center">
        <a class="waves-effect btn" [ngClass]="{'disabled': loading}" (click)="login()">Sign in</a>
      </div>
    </form>
  </div>
</div>
