<div class="content">
  <div class="card" *ngIf="message.length > 0">
    <div class="card-content">
      {{message}}
    </div>
  </div>
  <div class="center">
    <a class="waves-effect btn modal-trigger" href="#loginModal">Sign in</a>
    <a class="waves-effect btn modal-trigger" href="#registryModal">Sign up</a>
  </div>

  <div id="loginModal" class="modal card" materialize="modal">
    <div class="modal-content card-content">
      <auth (closeButtonLoginClickedEvent)="closeLoginWindow()"></auth>
    </div>
  </div>
  <div id="registryModal" class="modal card" materialize="modal">
    <div class="modal-content card-content">
      <registry (closeButtonSignUpClickedEvent)="closeSignUpWindow()"
                (signedUpSuccessfullyEvent)="setMessage($event)"></registry>
    </div>
  </div>
</div>
