<div class="row">
  <div class="col l12 m12 s12">
    <div class="center-align" *ngIf="cards.length == 0">You don't have no one card</div>

    <div *ngIf="cards.length > 0">
      <context-menu #displayingCardsMenu>
        <ng-template contextMenuItem (execute)="deleteSelectedCards()">
          <mat-icon>delete</mat-icon>
          Delete selected
        </ng-template>
      </context-menu>

      <div class="input-field">
        <input #inputCardFilter
               id="search"
               name="search"
               type="text"
               [(ngModel)]="cardFilter">
        <label for="search">Filter by word or translation</label>
      </div>

      <div class="card">
        <div class="card-content">

          <div class="center-align" *ngIf="(cards | searchfilter: cardFilter).length == 0">No cards with such word or
            translation
          </div>

          <table class="bordered disable-text-selection" *ngIf="(cards | searchfilter: cardFilter).length > 0">
            <thead>
            <tr>
              <th>Word</th>
              <th>Translation</th>
              <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            <tr [contextMenu]="displayingCardsMenu"
                *ngFor="let card of cards | searchfilter: cardFilter : false"
                (click)="onRowClickEvent(card, $event)"
                (contextmenu)="addSelectedCard(card)"
                [class.selected]="isCardSelected(card)">
              <td>
                <span class="truncate">
                  {{card.word.word}}
                </span>
              </td>
              <td>
                <span class="truncate">
                  {{joinCardArray(card, 'translations')}}
                </span>
              </td>
              <td>
                <span class="truncate">
                  {{joinCardArray(card, 'tags')}}
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
