<form>
  <div class="row">
    <div class="col s12">
      <!--<input id="pronunciation" type="checkbox" [(ngModel)]="pronunciation" value="pronunciation"-->
      <!--name="pronunciation">-->
      <input id="pronunciation" type="checkbox" name="pronunciation" [(ngModel)]="pronunciation" checked="{{pronunciation ? 'checked' : ''}}"/>
      <label for="pronunciation" class="active">pronounce words automatically</label>
    </div>
  </div>
  <div class="center row">
    <div class="col s12">
      <a class="waves-effect waves-ripple btn" (click)="saveOther()">Save</a>
    </div>
  </div>
</form>
