<div class="row">
  <div class="col s12">
    <form #registryForm="ngForm">
      <span class="card-title">Sign up<i class="material-icons right close-button" (click)="close()">close</i></span>
      <div class="input-field row">
        <input id="registry-username" maxlength="30" type="text"
               [ngClass]="{'invalid': userError, 'valid': !userError && username.length > 0}"
               [(ngModel)]="username"
               (change)="checkUsername()"
               name="registry-username" required>
        <label for="registry-username">Username</label>
        <div [hidden]="mapErrors.get('userError') != '' || mapErrors.get('usernameRegexWrong')"
             class="input-error-message">
          {{mapErrors.get('userError')}}
          {{mapErrors.get('usernameRegexWrong')}}
        </div>
      </div>
      <div class="input-field row">
        <input id="email" maxlength="40" type="text"
               [ngClass]="{'invalid': emailError, 'valid': !emailError && email.length > 0}"
               [(ngModel)]="email"
               (change)="checkEmail()"
               name="email" required>
        <label for="email">Email</label>
        <div [hidden]="mapErrors.get('emailError') != '' || mapErrors.get('emailRegexWrong')"
             class="input-error-message">
          {{mapErrors.get('emailError')}}
          {{mapErrors.get('emailRegexWrong')}}
        </div>
      </div>
      <div class="input-field row">
        <input id="registry-password" type="password" maxlength="128" name="registry-password"
               [ngClass]="{'invalid': passwordError, 'valid': !passwordError && password.length > 0}"
               [(ngModel)]="password"
               (change)="checkPassword()"
               required>
        <label for="registry-password">Password</label>
        <div [hidden]="mapErrors.get('passwordWrong') != ''" class="input-error-message">
          {{mapErrors.get('passwordWrong')}}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label for="mother_tongue" class="active">Mother tongue</label>
          <select id="mother_tongue" [(ngModel)]="selectedLanguage" name="mother_tongue" materialize="material_select" [materializeSelectOptions]="languages">
            <option *ngFor="let language of languages" [value]="language">{{language.name}}</option>
          </select>
        </div>
      </div>
      <div class="center row">
        <a class="waves-effect waves-ripple btn" (click)="signUp()"
           [ngClass]="{'disabled': username.length == 0 || email.length == 0 || password.length == 0
           || userError || emailError || passwordError}">Sign up</a>
      </div>
    </form>
  </div>
</div>
