<div class="card">
    <div class="card-content">

        <div *ngIf="!isSessionFinished()">
            <div class="row right">
                <div class="col s12">
                    <a class="btn-floating btn-flat btn-large waves-effect waves-light"
                       (click)="playPronunciation(true)">
                        <i class="material-icons small grey-text">replay</i>
                    </a>
                </div>
            </div>

            <div class="row center">
                <div class="col s12">
                    <h1>
                        {{currentSession != null ? currentSession.card.word.word : ''}}
                    </h1>
                </div>
            </div>

            <div *ngIf="showTranslations">
                <div class="row center">
                    <h3>
                        {{getTranslationsString()}}
                    </h3>
                </div>
            </div>

            <div class="row center">
                <div class="col s12">
                    <a class="waves-effect btn" (click)="onKnow()"
                       [ngClass]="{'disabled': disableButtons}">
                        I Know it
                    </a>
                    <a class="waves-effect btn" (click)="onDoNotKnow()"
                       [ngClass]="{'disabled': disableButtons}">
                        I don't know it
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="isSessionFinished()">
            <h5 class="center">
                Congratulations! You have finished this session!
                <a (click)="init()" *ngIf="cardService.cardsToLearn.length > 0">Learn next cards</a>
            </h5>
        </div>
    </div>
</div>
