<tag-input name="tags"
           [(ngModel)]="selectedTags"
           [displayBy]="'name'"
           [identifyBy]="'id'"
           [onAdding]="onAdding"
           (onAdd)="onAdd($event.name)"
           (onRemove)="onRemove()">

  <tag-input-dropdown name="tags-dropdown"
                      [displayBy]="'name'"
                      [identifyBy]="'id'"
                      [autocompleteItems]="tags"
                      [appendToBody]="false">
    <ng-template let-item="item" let-index="index">
      {{ item.name }}
    </ng-template>
  </tag-input-dropdown>
</tag-input>
