@import '../../assets/styles/styles.scss';

.collection-item {
  border-bottom: none;
  height: 40px;
  transition: .25s;
}

.row {
  margin: 0;
  padding: 0;
}

#tag-button {
  width: 75%;
  color: $primary-text !important;
  line-height: 1.5rem;
  padding: 9px 20px;
  margin: 0;
}

#learn-button {
  width: 25%;
  margin: 8px 0 0 0;
  text-align: center;
}

#play-button {
  color: $primary-text !important;
  cursor: pointer;
}

.input-field {
  margin: 0 20px;
}

input {
  height: 30px !important;
}
