<div class="collection" *ngIf="(tags|async) != null && (tags|async).length">
  <div *ngFor="let tag of tags | async">

    <context-menu #tagMenu>
      <ng-template contextMenuItem (execute)="deleteTag(tag)">
        <mat-icon>delete</mat-icon>
        Delete
      </ng-template>
      <ng-template contextMenuItem (execute)="setEditingTag(tag)">
        <mat-icon>edit</mat-icon>
        Edit
      </ng-template>
    </context-menu>

    <div class="row collection-item" [ngClass]="{'selected': selectedTag.id == tag.id}">
      <a id="tag-button"
         class="left"
         [contextMenu]="tagMenu"
         *ngIf="editingTag.id != tag.id"
         (click)="tagSelected(tag)"
         (dblclick)="setEditingTag(tag)">{{tag.name}}
      </a>
      <a id="learn-button"
         class="right"
         [contextMenu]="tagMenu"
         *ngIf="editingTag.id != tag.id"
         (click)="learn(tag)">
        <i id="play-button" class="material-icons">play_arrow</i>
      </a>
      <div class="input-field" *ngIf="editingTag.id == tag.id">
        <input #inputEditTag
               type="text"
               id="{{tag.id}}"
               name="{{tag.id}}"
               value="{{tag.name}}"
               (change)="save(inputEditTag.value)"
               (keyup.enter)="save(inputEditTag.value)"
               (keyup.escape)="resetEditingTag()"
               (clickOutside)="resetEditingTag()">
      </div>
    </div>
  </div>
</div>
