<form #settingsForm="ngForm" (keyup.enter)="savePassword()">
  <div class="row">
    <div class="col s12 input-field">
      <input id="current_password" type="password" [(ngModel)]="currentPassword"
             name="current_password"
             [ngClass]="{'invalid': currentPasswordError}"
             required>
      <label for="current_password">Current password</label>
      <div [hidden]="currentPasswordError != ''" class="input-error-message">
        {{currentPasswordError}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <input id="new_password1" type="password" [(ngModel)]="newPassword1" name="new_password1"
             [ngClass]="{'invalid': password1Error.length > 0}"
             required>
      <label for="new_password1">New password</label>
      <div [hidden]="password1Error != ''" class="input-error-message">
        {{password1Error}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <input id="new_password2" type="password" [(ngModel)]="newPassword2"
             [ngClass]="{'invalid': password2Error.length > 0}"
             name="new_password2"
             required>
      <label for="new_password2">New password again</label>
      <div [hidden]="password2Error != ''" class="input-error-message">
        {{password2Error}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-ripple btn" (click)="savePassword()">Save</a>
    </div>
  </div>
</form>
