@import '../../../assets/styles/styles.scss';

.clear-button {
  margin-top: 38px;
  margin-left: -18px;
  width: 16px;
}

.clear-button:hover {
  cursor: pointer;
}

.clear-button-icon {
  color: $text-icons-color;
}
