<ul class="collection" *ngIf="wordName != ''">
  <li class="collection-item row" *ngFor="let translation of translations">
    <div class="input-field col s11">
      <label for="{{translations.indexOf(translation)}}"
             [ngClass]="{'active': translation.text != ''}">Your translation</label>
      <input type="text"
             id="{{translations.indexOf(translation)}}"
             value="{{translation.text}}"
             (input)="addTranslation($event, translation)"/>
    </div>
    <div class="col clear-button">
      <a (click)="deleteNotEmptyField(translation)" [hidden]="translation.text == ''">
        <i class="tiny material-icons clear-button-icon">clear</i>
      </a>
    </div>
  </li>
</ul>
