<div class="row">
  <div class="col s12">
    <form #addingCardForm="ngForm" (keydown.control.enter)="addCard()">
      <div class="row">
        <div class="col s3">
          <label for="source_language" class="active">Source language</label>
          <select id="source_language"
                  name="source_language"
                  materialize="material_select"
                  [materializeSelectOptions]="languages"
                  [(ngModel)]="sourceLanguage"
                  (ngModelChange)="changeSourceLanguage()">
            <option *ngFor="let language of languages" [ngValue]="language">{{language.name}}</option>
          </select>
        </div>
        <div class="col s3">
          <label for="target_language" class="active">Target language</label>
          <select name="target_language"
                  id="target_language"
                  materialize="material_select"
                  [materializeSelectOptions]="languages"
                  [(ngModel)]="targetLanguage"
                  (ngModelChange)="changeTargetLanguage()">
            <option *ngFor="let language of languages" [ngValue]="language">{{language.name}}</option>
          </select>
        </div>
      </div>
      <div class="input-field col l3 m3 s12 left-col">
        <div class="row">
          <input #inputWordName
                 type="text"
                 id="word"
                 [(ngModel)]="wordName"
                 name="word"
                 (change)="searchWord()"
                 (blur)="searchWord()"
                 (enter)="searchWord()"
                 autofocus>
          <label for="word">Word</label>
        </div>
        <div class="row">
          <app-tags (addedTagEvent)="addTags($event)"></app-tags>
        </div>
      </div>
      <div class="col l7 m7 s12">
        <div class="row scroll-panel">
          <app-internet-translations
            [wordName]="wordName"
            [allTranslations]="translations"
            (selectedTranslationsEvent)="addSelectedTranslation($event)">
          </app-internet-translations>
        </div>
        <div class="row scroll-panel" *ngIf="showCustomTranslations">
          <app-custom-translations [wordName]="wordName" (addedCustomTranslationsEvent)="addCustomTranslations($event)">
          </app-custom-translations>
        </div>
      </div>
      <div class="row center">
        <div class="col s12">
          <a class="waves-effect btn"
             [ngClass]="{'disabled': wordName == '' || (selectedTranslations.length == 0 && customTranslations.length == 0)}"
             (click)="addCard()">Add</a>
        </div>
      </div>
    </form>
  </div>
</div>
