@import '../../assets/styles/styles.scss';

.btn {
  width: 200px;
}

@media screen and (max-width: 600px) {
  .btn {
    width: 100%
  }
}

.clear-button {
  margin-top: 38px;
  margin-left: -18px;
  width: 16px;
}

.clear-button:hover {
  cursor: pointer;
}

.left-col {
  margin-right: 20px;
}
