/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';


.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



.centered-dialog {
  max-width: 95vw;

  .mat-dialog-container {
    max-width: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 1330px) {
  .container {
    max-width: 1920px;
    width: 100vw;
    padding-left: 20px;
    padding-right: 30px;
  }
}

.container {
  width: 100vw;
}

body {
  color: $primary-text;
  background: $text-icons-color;
}

@media screen and (min-width: 600px) {
  body {
    overflow-x: hidden;
  }
}

nav {
  background-color: $primary-color;
}

.close-button:hover {
  cursor: pointer;
}

.input-error-message {
  color: $errors;
  display: block;
  font-size: .8rem;
  margin-top: -15px;
}

a[md-menu-item] {
  background: $text-icons-color !important;
}

a[md-menu-item]:hover {
  background: $light-primary-color !important;
  //color: $text-icons-color !important;
}

a[md-menu-item] > md-icon {
  color: $secondary-text !important;
}

//a[md-menu-item]:hover > md-favicons {
//color: $text-icons-color !important;
//}

.cdk-focused {
  background: $accent-color !important;
}

tag-input div {
  border-bottom: none !important;
}

.collection {
  border-color: $divider-color;
}

.collection-item {
  background: $text-icons-color !important;
  color: $primary-text !important;
}

.selected, .collection-item:hover, .collection-item:focus {
  background-color: $light-primary-color !important;
}

input, md-input-container {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid $divider-color !important;
  border-radius: 0 !important;
  outline: none !important;
  height: 3rem !important;
  width: 100% !important;
  font-size: 1rem !important;
  margin: 0 0 20px 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  box-sizing: content-box !important;
  transition: all 0.3s !important;
}

input, md-input-container {
  border-bottom: 1px solid $divider-color !important;
}

input:focus:not([readonly]), md-input-container:focus:not([readonly]) {
  border-bottom-color: $accent-color !important;
  box-shadow: 0 1px 0 0 $accent-color !important;
}

[type="checkbox"]:checked + label:before {
  border-right-color: $accent-color !important;
  border-bottom-color: $accent-color !important;
}

label {
  color: $secondary-text !important;
}

.active {
  color: $accent-color !important;
}

.tabs {
  background: transparent;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: $dark-primary-color;
  opacity: 1;
}

.tabs .tab a {
  color: $dark-primary-color;
  opacity: 0.8;
}

.tabs .tab a:hover {
  color: $primary-color;
  opacity: 1;
}

.tabs .tab a {
  color: $primary-color;
}

.tabs .indicator {
  background-color: $primary-color;
}

.btn, .btn.waves-effect {
  background: $accent-color;
}

.btn:hover {
  background: $accent-color;
}

.btn-flat {
  background: transparent;
}

.btn-flat:hover {
  background: $accent-color;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $primary-text !important;
}

.dropdown-content li:hover {
  background: $light-primary-color !important;
}

.scroll-panel {
  max-height: 300px;
  overflow-y: auto;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ngx-contextmenu .dropdown-menu {
  border: none;
  background: $text-icons-color;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.ngx-contextmenu a {
  color: $primary-text;
  display: block;
  padding: 0.5em 1em;
}

.ngx-contextmenu a md-icon {
  color: $primary-text;
  vertical-align: middle;
  margin-right: 8px;
}

.ngx-contextmenu a:hover {
  display: block;
  background: $light-primary-color;
}

tbody tr {
  transition: .25s;
}

tbody tr:hover {
  background: $light-primary-color !important;
}

.picker__weekday-display {
  background: $dark-primary-color !important;
  color: $light-primary-color !important;
}

.picker__month-display,
.picker__day-display {
  color: $text-icons-color !important;
}

.picker__year-display {
  color: $light-primary-color !important;
}

.picker__date-display {
  background: $primary-color !important;
}

.picker__box {
  background: $text-icons-color !important;
}

.picker__table tbody tr:hover {
  background: none !important;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: $accent-color !important;
  color: $text-icons-color !important;
}

.picker__day.picker__day--today {
  color: $accent-color;
}

.picker__close,
.picker__today {
  color: $primary-text !important;
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
  background: $light-primary-color !important;
}

//.scrollbar::-webkit-scrollbar-track
//{
//	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
//	border-radius: 10px !important;
//	background-color: $text-icons-color !important;
//}
//
//.scrollbar::-webkit-scrollbar
//{
//	width: 10px !important;
//	background-color: $text-icons-color !important;
//}
//
//.scrollbar::-webkit-scrollbar-thumb
//{
//	border-radius: 10px !important;
//	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
//	background-color: $divider-color !important;
//}
