$primary-color: #673AB7 !default;
$dark-primary-color: #512DA8 !default;
$light-primary-color: #D1C4E9 !default;
$text-icons-color: #FFFFFF !default;
$accent-color: #FF5722 !default;
$primary-text: #212121 !default;
$secondary-text: #757575 !default;
$divider-color: #BDBDBD !default;

$errors: #d50000;
