<div class="main">
  <div class="col side-menu center hide-on-med-and-down left">
    <side-menu></side-menu>
  </div>
  <div class="col main-content">
    <router-outlet></router-outlet>
  </div>
  <div class="col tag-list">
    <app-tag-list></app-tag-list>
  </div>
</div>
