@import '../../assets/styles/styles.scss';

.side-menu {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}

.tag-list {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}

.main {
  display: inline-flex;
  width: 100%;
  //margin: 20px;
}

.main-content {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;

}

