@import '../../assets/styles/styles.scss';

.nav {
  width: 100%;
  height: 100%;
  background-color: $text-icons-color;
}

.nav li.active {
  background-color: $light-primary-color;
}

.nav li > a {
  color: $primary-text;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  transition: .25s;
}

.nav li > a:hover, .nav li > a:active {
  background-color: $light-primary-color;
}

.nav li > a.btn,
.nav li > a.btn-large,
.nav li > a.btn-large,
.nav li > a.btn-flat,
.nav li > a.btn-floating {
  margin: 10px 15px;
}

.nav li > a.btn,
.nav li > a.btn-large,
.nav li > a.btn-large,
.nav li > a.btn-floating {
  color: $text-icons-color;
}
