<h2 mat-dialog-title>
  Edit
</h2>
<mat-dialog-content>
  <form #editCardForm="ngForm" class="row">
    <div class="input-field col l2 m2 s12">
      <div class="row">
        <input type="text"
               id="word"
               [(ngModel)]="cardToEdit.word.word"
               name="word" (change)="searchWord()">
        <label for="word">Word</label>
      </div>
      <div class="row">
        <app-tags [selectedTags]="cardToEdit.tags" (addedTagEvent)="addTags($event)"></app-tags>
      </div>
    </div>
    <div class="col l5 m5 s12">
      <div class="row scroll-panel">
        <app-custom-translations
          [wordName]="cardToEdit.word.word"
          [inputTranslations]="cardToEdit.word.translations"
          (addedCustomTranslationsEvent)="addCustomTranslations($event)">
        </app-custom-translations>
      </div>
    </div>
    <div class="col l5 m5 s12">
      <div class="row scroll-panel">
        <app-internet-translations
          [wordName]="cardToEdit.word.word"
          [(allTranslations)]="translations"
          [excludedTranslations]="cardToEdit.word.translations"
          (selectedTranslationsEvent)="addSelectedTranslations($event)">
        </app-internet-translations>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="row">
  <div class="col s1">
    <button class="delete-button" [mat-dialog-close]="card">
      <i class="material-icons" (click)="deleteCard()">delete</i>
    </button>
  </div>
  <div class="col s11" align="end">
    <button class="btn-flat" [mat-dialog-close]="true" (click)="saveChanges()">OK</button>
  </div>
</mat-dialog-actions>
