<div class="row">
  <div class="col s8">
    <ul class="tabs">
      <li class="tab col s4">
        <a href="#generalTab">
          General
        </a>
      </li>
      <li class="tab col s4">
        <a href="#privacyTab">
          Privacy
        </a>
      </li>
      <li class="tab col s4">
        <a href="#otherTab">
          Other
        </a>
      </li>
    </ul>
    <div id="generalTab" class="col s12">
      <settings-general class="row"></settings-general>
    </div>
    <div id="privacyTab" class="col s12">
      <settings-privacy class="row"></settings-privacy>
    </div>
    <div id="otherTab" class="col s12">
      <app-settings-other-tab class="row"></app-settings-other-tab>
    </div>
  </div>
</div>
